body {
    margin: 0;
    padding-top: 40px;
   
    
    
}

.img-abu {
    width: 100%;
    height: 400px;
    display: block;
    max-width: 100%;
    
}

/* Estilos para la galería de imágenes con scroll horizontal */

.scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}



